<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <section class="encabezado">
            <section class="logo">
                <a href="/"><img src="/static/images/logo-mercado-liebre.svg" alt="Logo"></a>
            </section>
            <section class="busqueda">
                <input type="search" class="search" placeholder="Buscar productos..."/><button id="search"><i class="fas fa-search"></i></button>                
            </section>
            <section class="tituloCompraEnCuotas">
                <i class="fas fa-hand-holding-usd"></i><h3 class="titulo1"> Comprá en cuotas y sin tarjeta de crédito</h3>
            </section>
        </section>
        <section> 
            <nav class="navbar">
                <ul  class="nav1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav2">
                    <li><a href="register">Creá tu cuenta </a><i class="far fa-address-card"></i></li>
                    <li><a href="login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </section>
        <section class="burger-menu">
                <i class="fas fa-bars"></i>
        </section>
    </header>

    <main class="main-login">
        <section>
            <form action="/" method="#">
                <label for="usuario" class="label">Nombre de usuario</label>
                    <p><input class="campo-input" type="text" name="name" placeholder="Ingrese su usuario" required minlength=2></p>
                <label for="usuario" class="label">Contraseña</label>
                    <p><input class="campo-input" type="password" name="password" placeholder="Ingrese su contraseña" required minlength=6></p>
            <div class="botonera">
                <button class="button-login" type="submit">Enviar</button>
            </div>
        </section>
    </main>

</body>
<footer>
    <section class="pie">
        <article class="texto-pie1">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="texto-pie1">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="texto-pie1">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <article class="texto-pie2">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </article>  
    </section>
</html>