*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #ebebeb;
    font-size: 12px;
}
.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.campo-input{
    width:50vw;
    padding:10px;
    border:0px;
    border-radius: 5px;
    color: #666;
    margin-bottom: 30px;
}
.button{
    width:100%;
    padding:10px;
    border:0px;
    border-radius: 5px;
    background-color:#0044AA;
    color: #ebebeb;
}